@charset "UTF-8"
/*CSS Document*/

.hidden {
	display: none;
}

h1, h2 {
	display: none;
}

div,p,body,header,footer { 
	margin: 0; 
	padding: 0; 
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #000;
	background: -webkit-linear-gradient(#fab10c, #e54ca0);
	background: -o-linear-gradient(#fab10c, #e54ca0);
	background: linear-gradient(#fab10c, #e54ca0);
	}	

.siteContainer {
	width: 1000px;
	margin: 0 auto ;
	padding: 0px 15px 0px 15px;
	display: flex;
	text-align: center;
} 

#mainHeader {
	font-size: 20px;
	margin: 15px 0px;
	display: flex;
	flex-direction: row;
  	justify-content: flex-start;
	border-bottom: solid 5px #cc11be;
}

#logo {
	width: 500px;
	padding: 10px;
}

.SVGcontainer {
	width: 980px;
	margin: 0 auto;
	padding: 5px;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
	background-color: #ffffff;
	 opacity: 0.8;
}

.SVGimg {
	width: 200px;
	margin: 10px;
	padding: 5px;
	text-align: center;
	display: inline-block;
}

#textBox {
	width: 600px
	margin: 0 auto;
	padding: 10px 20px;
	flex-direction: row;
	text-align: left;
	justify-content: flex-start;
}

.guitarSelected .guitarcls-1 {
 	fill: orange;
}

.guitarSelected .guitarcls-3 {
	stroke: orange;
}

#guitar:hover .guitarcls-1 {fill: red; }
#guitar:hover .guitarcls-3 {stroke: red; }

.cassetteSelected .cassettecls-1{
 	fill: orange;
}

.cassetteSelected .cassettecls-2 {
	stroke: orange;
}

#cassette:hover .cassettecls-1 {fill: #39ff14;}
#cassette:hover .cassettecls-2  {stroke: #39ff14;}

.soundpadSelected path {
 	fill: orange;
}

#soundpad:hover .soundpadcls-1 {fill: blue; }

.saxSelected path {
 	fill: orange;
}

#sax:hover path {fill: red; }


.violinSelected path {
 	fill: orange;
}

#violin:hover path {fill: #39ff14 ; }

.trumpetSelected .trumpetcls-1 {
	fill:orange;
}

.trumpetSelected .trumpetcls-2 {
	fill:orange;
}

#trumpet:hover #Body {fill: #666;}
#trumpet:hover #keyTub1 {fill: #39ff14; }
#trumpet:hover #keyTub2 {fill: blue;}
#trumpet:hover #keyTub3 {fill: red;}

#mic:hover .miccls-1 { fill: red; }
#mic:active .miccls-1 { fill: orange; }


.drumSelected .drumscls-1 {
	fill: orange;

}

.drumSelected .drumscls-2 {
	stroke: orange;
}

#drums:hover .drumscls-1 {fill: #39ff14;}
#drums:hover .drumscls-2 {stroke: #39ff14;}

.bartSelected path {
 	fill: orange;
}

#bart:hover path { fill: blue;}

.keytarSelected .keytarcls-1 {
	fill: orange;
}

#keytar:hover .keytarcls-1 { fill: red;}

